/* *********************************** */
@import url(normalize.min.css);
@import url(reset.css);

/* *********************************** */
/* *** ESTILOS GENERALES *** */
/* *********************************** */

/* Tipografía */
@font-face {
  font-family: "";
  src: url("") format("woff2"), url("") format("woff");
}

:root{
  /* Colores */
  --bg-body: #E7E7E7;
  --bg-card: #6B5B5B;

  /* Tipografia */
  --font-color-linksB:#6B5B5B;
  --font-color-linksW: #fff;

  /* Tamaños */

  --ipad-size: 46.5rem;
  --desktop-size: 120rem;

  --size-screen: 1366px;

}

html{
  scroll-behavior: smooth;
}

* {
  margin-left: .3125rem;
  margin-right: .3125rem;
}

body{
  background-color: var(--bg-body);
}


/* ******************************** */
              /*HEADER*/
/* ******************************** */
header {
  height: 100vh;
}

nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.container {
  display: flex;
  justify-content: space-between;
}

.link__inicio{
  display: flex;
  align-items: baseline;
  font-weight: 600;

  & .a__primera-letra-i{
    margin: 0;
    color: var(--font-color-linksB);
    font-size: 3.125rem;
  }
  
  & .a__resto-inicio{
    margin: 0;
    color: var(--font-color-linksB);
  }
}

.link__servicios{
  display: flex;
  align-items: baseline;
  text-decoration: none;
  font-weight: 600;

  & .a__primera-letra-s{
    margin: 0;
    color: var(--font-color-linksB);
    font-size: 3.125rem;
  }
  
  & .a__resto-servicio{
    margin: 0;
    color: var(--font-color-linksB);
  }
}

.link__contactar{
  display: flex;
  align-items: baseline;
  text-decoration: none;
  font-weight: 600;

  & .a__primera-letra-c{
    margin: 0;
    color: var(--font-color-linksB);
    font-size: 3.125rem;
  }
  
  & .a__resto-contactar{
    margin: 0;
    color: var(--font-color-linksB);
  }
}


/* ******************************** */
              /*MAIN*/
/* ******************************** */


/* ******************************** */
              /*FOOTER*/
/* ******************************** */

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--bg-card);
  margin-top: 1.875rem;


  & .footer__logo {
    background-color: #6B5B5B;
    padding: 1.25rem 0;
  }
  & .footer__section--links {
    background-color: var(--bg-card);
    gap: .3125rem;
    margin-bottom: 2.5rem;
  }
  & .section__link-inicio {
    text-decoration: none;
    color: var(--font-color-linksW);
    font-size: 1.25em;
  }
  & .section__link-servicios {
    text-decoration: none;
    color: var(--font-color-linksW);
    font-size: 1.25em;
  }
  & .section__link-contactar {
    text-decoration: none;
    color: var(--font-color-linksW);
    font-size: 1.25em;
  }
  & .footer__ul--li {
    color: var(--font-color-linksW);
    border-left: 5px solid var(--font-color-linksW);
    display: flex;
    flex-direction: column;
    justify-content: left;
    width: 85%;
  }
  & .ul__link-privacy {
  }
  & .footer__copyright{
    color: var(--font-color-linksW);
    padding: 1.875rem 0;
  }
}

.main-separation{
  display: none;
}

@media only screen and (min-width: 46.5rem){
  
  header{
    height: 65vh;
    margin-top: 1.875rem;

    nav{
      flex-direction: row;
      height: 70vh;
      justify-content: space-between;
      gap: 1.25rem;
  
      & .logo-principal{
        display: none;
      }
    }
  
    .section-information{
      background-image: url("/svg/logo_brown.svg");
      background-size: contain;
      background-position: center center;
      background-repeat: no-repeat;
    }
  }

    .main-separation{
      display: block;
    }

    .main__texto-principal{
      margin-top: 2.5rem;
    }

  footer{
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 2.5rem;
    margin: 0;

    & .footer__section--links{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin: 0;
      height: 100%;
      padding-right: 1.25rem;
    }

    & .footer__logo{
      padding: 0;
      margin: 0;
      height: 11.875rem;
      width: 14.375rem;
      margin-left: .9375rem;
    }

    & .ul__link-privacy{
      padding-left: .1875rem;
      
    }

    & .footer__ul--li{
      width: 50%;
    }

    & .footer__copyright{
      padding: .625rem 0 .625rem 6.25rem;
    }

    & .section__link-inicio{
      margin: 0;
      margin-bottom: .3125rem;
    }

    & .section__link-servicios{
      margin: .625rem 0;
    }

    & .section__link-contactar{
      margin: .3125rem 0 0 0;
    }
  }
}

@media only screen and (min-width: 120rem){
  
  *{
    margin: 0;
    padding: 0;
  }
  
  .body{
    width: 100%;
    max-width: var(--size-screen);
  }

  header{
    display: flex;
    flex-direction: row;
  }

  .logo-principal{
    display: inline;
  }

  footer{
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: space-around;
    padding: 6.25rem 6.25rem;
    width: 100%;
  
    & .footer__ul--li{
      max-width: 12.5rem;
      border: none;
      order: 4;
    }

    & .footer__copyright{
      margin: 0;
      padding: 0;
      order: 1;
    }

    & .footer__section--links{
      margin: 0;
      padding: 0;
      order: 3;
    }
    
    & .footer__logo{
      margin: 0;
      padding: 0;
      order: 2;
    }
  }

}