/* *********************************** */
@import url(normalize.min.css);
@import url(reset.css);

/* *********************************** */
/* *** ESTILOS GENERALES *** */
/* *********************************** */

/* Tipografía */
@font-face {
  font-family: "";
  src: url("") format("woff2"), url("") format("woff");
}

:root {
  /* Colores */
  --bg-body: #e7e7e7;
  --bg-card: #6b5b5b;

  /* Tipografia */
  --font-color-linksB: #6b5b5b;
  --font-color-linksW: #fff;

  /* Tamaños */

  --ipad-size: 46.5rem;
  --desktop-size: 120rem;

  --size-screen: 1366px;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--bg-body);
}

.menu-principal {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.menu-principal__section {
  display: flex;
  justify-content: space-between;
}

.main__carrousel{
  display: none;
}

@media only screen and (min-width: 46.5rem) and (orientation: portrait) {

  .menu-principal {
    height: revert;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1.25rem;

    & .logo-principal {
      display: none;
    }

    & .section-information {
      flex-basis: 25rem;
      background: url(/svg/logoFondo.svg) center center no-repeat;
      background-size: 90% 90%;
      text-align: justify;
    }

    & .link__inicio{
      display: flex;
    }

    & .link__servicios{
      display: flex;
    }

    & .link__contactar{
      display: flex;
    }
  }
}

@media only screen and (min-width: 120rem){

  header{
    display: flex;
    justify-content: center;
  }
  .menu-principal {
    height: revert;
    display: revert;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1.25rem;
    width: var(--size-screen);
  }

  & .link__inicio{
    display: flex;
  }

  & .link__servicios{
    display: flex;
  }

  & .link__contactar{
    display: flex;
  }

  .menu-principal__section{
    display: flex;
    flex-direction: row-reverse;
  }

  .section-information{
    width: 40%;
    order: 1;
  } 
  .main__carrousel{
    display: revert;
    display: flex;
    gap: 1.25rem;
    justify-content: center;
  }

  .main__texto-principal{
    max-width: var(--size-screen);
    display: flex;
    text-align: justify;
    justify-content: center;
  }

}